{{define "title"}}Internal Server Error{{end}}

{{define "styles"}}
    <link rel="stylesheet" href="/static/css/errors.css">
{{end}}

{{define "content"}}
    <div class="not-found-container">
        <h1 class="error-code">500</h1>
        <h2 class="error-title">Internal Server Error</h2>
        <p class="error-message">
            Something went wrong on our end. Please try again later.
        </p>
    </div>
{{end}}